@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #f5f5f5;
  background-color: #1e1e1e;
  font-family: "OpenSans-Regular", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1020px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}

.menu {
  display: flex;
  align-items: center;
}
.menu__item {
  margin-right: 30px;
  font-size: 20px;
  transition: color 0.4s;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item:hover {
  color: #528be7;
}

.header {
  position: relative;
  padding: 40px 0;
}
.header::after {
  position: absolute;
  content: "";
  width: 100%;
  border-top: 2px solid #7d7d7d;
  bottom: 0;
  left: 0;
}
.header__container {
  max-width: 1170px;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin: 0;
  text-transform: uppercase;
  font-size: 20px;
}