.section {
  padding: 70px 0;

  @media (max-width: 576px) {
    padding: 40px 0;
  }
}

.menu {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 30px;
    font-size: 20px;
    transition: color 0.4s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #528be7;
    }

    @media (max-width: 768px) {
      margin-right: 10px;
      font-size: 16px;
    }
  }
}

.title {
  margin: 0;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 36px;

  @media (max-width: 576px) {
    font-size: 28px;
  }
}

.text {
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 346px;
  width: 100%;

  @media (max-width: 576px) {
    max-width: 100%;
  }

  &__heading {
    margin-bottom: 10px;
    font-size: 26px;

    &:last-of-type {
      margin-bottom: 50px;
    }

    @media (max-width: 768px) {
      &:last-of-type {
        margin-bottom: 30px;
      }
    }

    @media (max-width: 576px) {
      font-size: 22px;

      &:last-of-type {
        margin-bottom: 10px;
      }
    }
  }

  &__label {
    position: relative;
    margin-bottom: 45px;
    width: 100%;
    line-height: 0;

    &::after {
      position: absolute;
      content: '';
      border-top: 1px solid #528be7;
      width: 100%;
      bottom: -10px;
      left: 0;
    }

    &:last-of-type {
      margin-bottom: 80px;
    }

    @media (max-width: 768px) {
      &:last-of-type {
        margin-bottom: 50px;
      }
    }

    @media (max-width: 576px) {
      margin-bottom: 25px;
      &:last-of-type {
        margin-bottom: 30px;
      }
    }
  }

  &__input {
    width: 100%;
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    color: #f5f5f5;

    &::placeholder {
      color: #7d7d7d;
    }
  }

  &__btn {
    padding: 15px 0;
    width: 100%;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16px;
    background-color: #528be7;
    border-radius: 3px;
    transition: all 0.4s;

    &:hover {
      color: #528be7;
      background-color: #f5f5f5;
    }
  }
}
