.section {
  padding: 70px 0;
}

.menu {
  display: flex;
  align-items: center;

  &__item {
    margin-right: 30px;
    font-size: 20px;
    transition: color 0.4s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      color: #528be7;
    }
  }
}

.title {
  margin: 0;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 36px;
}

.text {
  margin: 0;
}
