html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  color: #f5f5f5;
  background-color: #1e1e1e;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1230px;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link-reset {
  color: inherit;
  text-decoration: none;
}
