.footer {
  position: relative;
  padding: 60px 0;

  &::before {
    position: absolute;
    content: '';
    border-top: 1px solid #7d7d7d;
    top: 0;
    left: 0;
    width: 100%;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__img {
    margin-bottom: 20px;
    width: 72px;
    height: 88px;
  }

  &__title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    text-decoration: underline;
    text-decoration-color: #528be7;
  }

  &__messengers {
    display: flex;
    align-items: center;
  }

  &__link {
    margin-right: 10px;
    line-height: 0;
    transition: transform 0.4s;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      transform: scale(0.9);
    }
  }

  &__icon {
    width: 30px;
    height: 30px;
  }
}
