.header {
  position: relative;
  padding: 40px 0;

  &::after {
    position: absolute;
    content: '';
    width: 100%;
    border-top: 2px solid #7d7d7d;
    bottom: 0;
    left: 0;
  }

  &__container {
    max-width: 1170px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
  }
}
