.hero {
  padding: 160px 0 195px 0;

  @media (max-width: 768px) {
    padding: 80px 0;
  }

  @media (max-width: 576px) {
    padding: 40px 0;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 576px) {
      flex-direction: column;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 615px;
    width: 100%;

    @media (max-width: 768px) {
      max-width: 365px;
    }

    @media (max-width: 576px) {
      max-width: 100%;
    }
  }

  &__title {
    margin-bottom: 15px;
    font-size: 48px;
    line-height: 100%;

    &-highlight {
      position: relative;

      &::after {
        position: absolute;
        content: '';
        border-top: 7px solid #528be7;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      font-size: 36px;
    }

    @media (max-width: 480px) {
      font-size: 32px;
    }
  }

  &__text {
    margin-bottom: 45px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  &__link {
    padding: 15px 30px;
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 16px;
    border-radius: 3px;
    background-color: #528be7;
    transition: all 0.4s;

    &:hover {
      color: #528be7;
      background-color: #f5f5f5;
    }
  }

  &__img {
    width: 200px;

    @media (max-width: 768px) {
      width: 160px;
    }

    @media (max-width: 576px) {
      display: none;
    }
  }
}
