.projects {
  &__title {
    text-align: center;
    margin-bottom: 100px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inner-skreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 65px;
    max-width: 400px;
    border-radius: 5px;
    background-color: #528be7;
  }

  &__img {
    margin-bottom: 10px;
    height: 37px;
  }

  &__caption {
    font-size: 20px;
    text-align: center;
  }

  &__inner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;

    &--right {
      align-items: flex-end;
    }
  }

  &__heading {
    margin-bottom: 10px;
    font-size: 24px;
  }

  &__text {
    font-size: 16px;
  }
}
