.projects {
  &__title {
    text-align: center;
    margin-bottom: 100px;

    @media (max-width: 768px) {
      margin-bottom: 50px;
    }

    @media (max-width: 576px) {
      margin-bottom: 20px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    width: 100%;
    gap: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (max-width: 768px) {
      margin-bottom: 30px;
    }

    @media (max-width: 576px) {
      margin-bottom: 15px;
      flex-direction: column;
    }
  }

  &__inner-skreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 70px 65px;
    max-width: 400px;
    width: 100%;
    border-radius: 5px;
    background-color: #528be7;

    &--media-576-on {
      display: none;
    }

    @media (max-width: 768px) {
      padding: 50px 35px;
      max-width: 280px;
    }

    @media (max-width: 576px) {
      padding: 30px 15px;
      max-width: 100%;

      &--media-576-on {
        display: flex;
      }

      &--media-576-off {
        display: none;
      }
    }
  }

  &__img {
    margin-bottom: 10px;
    height: 37px;
  }

  &__caption {
    font-size: 20px;
    text-align: center;
  }

  &__inner-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    width: 100%;

    &--right {
      align-items: flex-end;
    }

    @media (max-width: 576px) {
      max-width: 100%;

      &--right {
        align-items: flex-start;
      }
    }
  }

  &__heading {
    margin-bottom: 10px;
    font-size: 24px;

    @media (max-width: 576px) {
      font-size: 22px;
    }
  }

  &__text {
    font-size: 16px;
  }
}
